.shopContent {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 6rem;
  opacity: 1;
  animation: opening ease-in 0.3s;
}

/* fading in when opening shop */
@keyframes opening {
  0% {
    opacity: 0;
  }
}

.itemCard {
  border: 1px solid black;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.shopTitle {
  padding: 2rem 0rem 1rem 0 ;
  text-align: center;
}


.shopLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.rating {
  display: flex;
}

.ratingPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.itemImage {
  width: 150px;
  height: auto;
  align-self: center;
  justify-self: center;
}

.inputCnt {
  display: grid;
  grid-template-columns: 50px 150px;
  align-items: center;
  justify-content: space-evenly;
}
