.indexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-weight: bold;
}

.imageContainer {
  width: 100%;
  height: 88vh;
  overflow: hidden;
}

.image {
  width: 200%;
  height: 200%;
  transform-origin: center center;
  object-fit: cover;
}

.headline {
  text-align: center;
  padding: 2rem;
  border: 1px solid rgba(62, 171, 243, 0.3);
  background-color: rgb(240, 240, 240);
  width: fit-content;
  position: relative;
  top: -2rem;
  border-radius: 20px;
  box-shadow: rgba(62, 171, 243, 0.3) 0px 0px 0px 3px;
  margin: 0 1rem;
}

.description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 1rem;
  text-align: center;
  margin: 2rem;
}

.descriptionImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.descriptionText {
  padding: 3rem;
}

/* best Sellers */
.bestSeller {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  gap: 1rem;
}

.BSWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem;
  gap: 2rem;
}

.BSCard {
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.BSCard:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px, rgba(0, 0, 0, 0.2) 0px 4px 2px,
    rgba(0, 0, 0, 0.2) 0px 8px 4px, rgba(0, 0, 0, 0.2) 0px 16px 8px,
    rgba(0, 0, 0, 0.2) 0px 32px 16px;
}

.BSTitle {
  padding: 1rem;
  font-weight: 500;
}

.BSImage {
  min-width: 150px;
}

.BSPrice {
  font-weight: 600;
}
